body{
    background: rgb(8, 8, 8);
}

.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background:rgba(100, 100,  100, .7);
    margin: 50px 50px;
    min-width: 250px;
    flex-direction: row-reverse;
    border:20px solid rgb(0, 0, 0) ;
    outline: 3px solid rgb(62, 187, 187);
    
    
    
}

.form{
    width: 100%;
    flex: 1;
    padding: 30px;
    text-align: center;
    order: 2;

}

.form__section{
    width: 100%;
    padding: 0;
    margin: 0 ;
}

.form__input{
    box-sizing:border-box;
    width: 100%;
    padding:  7px;
    margin: 6px 0; 
    border: none;
    border-bottom: 3px solid #5dd;
    background:rgba(0, 0,  0, .5);
    color: #fff;
    
    

}

.form__input:active{
    background:rgba(0, 0,  0, .7);
 
    }

.button{
    
    background: rgb(62, 187, 187);
    color: rgb(0,0,0);
    

}

.button:active{
    
    background: rgba(0, 0, 0,.5);
    color: rgb(10, 199, 189);

}




.form-img{
    flex: 1;
    padding: 10px;
    display: flex;
    min-width: 300px;
    max-width: 400px;
    
    
}

.form textarea{
    min-height: 140px;
    resize: none;
} 




.form-img .imagen{
    width: 60%;
    margin: auto;
    border-radius: 50%;
    background: #fff;
    padding: 20px;
    order: 1;
}